
@font-face{
   font-family:'Montserrat regular';
   src:local('Montserrat regular'),   
   url("files/fonts/Montserrat-Regular.ttf");
}

@font-face{
   font-family:'Montserrat bold';
   src:local('Montserrat bold'),
   url("files/fonts/Montserrat-Bold.ttf"); 
}


html,body{
    height:100%;
}


:root {
   --light-dark:#010101;
   --accent-black:#2B3541;
   --special-low-black:rgba(43, 53, 65, 0.3);
   --special-strong-black:rgba(43, 53, 65, 1);
   --yellow:#FBF138;
   --white:#FEFCFE;
   --new-gradient:linear-gradient(180deg, rgba(251,241,56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
   --new-gradient2:linear-gradient(180deg, rgba(251,241,56, .3) 0%, rgba(253, 249, 182, .3) 100%);
   --tr:.3s;
   --tr2:.4s;
} 

.logo{
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(files/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
    right:-30px;
}

.header{
    padding-top:52px;
    padding-bottom: 28px;
}

.container{
    max-width: 1142px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-wrapper{
    display: flex; 
    align-items:center; 
    gap: 51px;                
}

.nav {
    flex-grow: 1;
    display:flex;
    gap: 124px;
    margin-left:min(10vw, 140px);
    
}

.cart{
    display: flex;
    align-items: center;
    text-decoration:none;
    position: relative;
    font-family: 'Montserrat bold';
    color:var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-right:-32px;
    right:2px;
}



.elipse{  
    content:'';
    display:inline-block; 
    align-items: center;
    background-image: url(files/icons/ellipse.svg);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top:13px;
    left:88px;
    flex-shrink: 0;
}


.nav-link{
    text-decoration:none;
    margin-left: -69px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    font-family: 'Montserrat regular';
    color:var(--accent-black);
}

.nav-link:hover {
  	text-decoration: underline;
    color:var(--accent-black);
    height: 1px;
    text-underline-offset: 15px;
}

.button-up{
    position: fixed;
    width: 77px;
    height: 24px;
    right: 25px;
    bottom: 10px;
    padding: 5px 10px;
    border: none;
    margin-left: 310px;
    margin-top: 317px;
    background: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.30);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    cursor: pointer;
    transition: var(--tr);
    text-decoration: none;
}

.button-up:hover {
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.button-up.hidden{
    opacity:0;
}

.button-up.visible{
    opacity:1;
}

.hero{
   display: flex;
   align-items: center;
   gap: 20px;
   position: relative;
}

.hero-text {
   flex-basis: 60%;
}
.hero-text h1 {
   font-size: clamp(26px, 4.5vw ,48px);
}


.hero-bg{
    position: relative;
    height:100%;
    flex-basis:464px;
}

.hero-wrapper{
    position: absolute;
    right: -26px;
    bottom: 0;
    width: clamp(399px, 65vw, 996px);
    top: 2px;
}

.background-yellow{
    display:block;
    height: 852px;
    flex-basis: calc(40% - 20px);
    opacity: 0.2;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 120%);
    position: relative;
    left: 190px;
    top:4px;
}

.text{
    display:inline-block;
    position: absolute;
    color: var(--accent-black);
    top:198px;
    left:220px;
    font-family: 'Montserrat bold';
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.text2{
    display:inline-block;
    position: absolute;
    top:352px;
    left:220px;
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
}

.text3{
    display: inline-block;
    position: absolute;
    font-family: 'Montserrat regular';
    color: var(--accent-black);
    top: 465px;
    left: 311px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.hero-button{
    width: 196px;
    height: 24px;
    display: block;
    padding: 21px 30px;
    border: none;
    margin-left: 310px;
    margin-top: 317px;
    background: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.30);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    cursor: pointer;
    transition: var(--tr);
    text-decoration: none;
}

.hero-button:hover {
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.click{
    position:relative;
    top: -54px;
    left: 219px;
}

.menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*gap: 695px;*/
    padding-top: 84px;
    margin-left: 30px;
    margin-right: -31px;
}


.menu-title{
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin-top: 18px;
}

.menu-title2{
    align-self: flex-start;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    white-space: nowrap;
        margin-left:10px;
}

.setka{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:309px 73px 281px;
    grid-template-areas:
      "a b c"
      "d b f"
      "d e f";
    gap:20px;
    padding-left:30px;
}

.item{
    border: 1px solid rgba(43,53,65,0.5);
    box-sizing: border-box;
    position:relative;
    transition: .4s;
    display:flex;
    flex-direction: column;
    justify-content: end;
    gap:20px;
    padding:10px;
}

.item:hover {
   border-color:white;
}

.item:nth-child(1){
   grid-area:a;
   margin-right:-10px;
   margin-top:4px;
   margin-bottom:-4px;
   cursor: pointer;
}

.item:nth-child(2){
   grid-area:b;
   margin-top:4px;
   margin-bottom:-4px;
   margin-left:10px;
   margin-right:-20px;
   cursor: pointer;
}

.item:nth-child(3){
   grid-area:c;
   margin-top:5px;
   margin-bottom:-5px;
   margin-left:20px;
   margin-right:-29px;
   cursor: pointer;
}

.item:nth-child(4){
   grid-area:d;
   margin-top:5px;
   margin-bottom:-5px;
   margin-right:-11px;
   cursor: pointer;
}

.item:nth-child(5){
   grid-area:e;
   margin-top:5px;
   margin-bottom:-5px;
   margin-left:10px;
   margin-right:-20px;
   cursor: pointer;
}

.item:nth-child(6){
   grid-area:f;
   margin-top:5px;
   margin-bottom:-5px;
   margin-left:20px;
   margin-right:-29px;
   cursor: pointer;
}


.item::before {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   background:url(files/icons/gradient.png);
   object-fit: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: -1;
   opacity: 0;
   transition: .4s;
}

.item:hover::before {
   opacity: 0.7;
}

.item-title{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 17px;
    left: 10px;
}

.item-date{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: absolute;
    top: 10px;
    right:10px;
    opacity: 0.7;
}

span.item-date{
    position: absolute;
    top: 21px;
    right: 28px;
}

span.item-title{
    margin-left:20px;
}


.item-img{
    position: absolute;
    bottom: 81px;
    left: 11px;
}

img.item-img{
    max-width: 100px;
    margin-left:20px;
}

.item-title2{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    top: 360px;
    left: 31px;
}

.item-date2{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date2{
    position: absolute;
    top: 21px;
    right: 30px;
}

.item-img2{
    position: absolute;
    bottom: 81px;
    left: 11px;
}


img.item-img2{
    max-width: 100px;
    margin-left:20px;
}


.item-title3{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 19px;
    left: 37px;
}

.item-date3{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date3{
    position:absolute;
    top: 20px;
    right: 29px;
}

.item-img3{
    position: absolute;
    top: 175px;
    left: 10px;
}

img.item-img3{
    max-width: 100px;
    margin-left:20px;
}

.item-title4{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 19px;
    left: 31px;
}

.item-date4{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date4{
    position:absolute;
    top: 20px;
    right: 29px;
}

.item-img4{
    position: absolute;
    bottom: 82px;
    left: 10px;
}

img.item-img4{
    max-width: 100px;
    margin-left:20px;
}

.item-title5{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: relative;
    top: -9px;
    left: 20px;
}

.item-date5{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date5{
    position: absolute;
    top: 20px;
    right: 30px;
}

.item-img5{
    position: absolute;
    top: 136px;
    left: 10px;
}

img.item-img5{
    max-width: 100px;
    margin-left:20px;
}

.item-title6{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 19px;
    left: 30px;
}

.item-date6{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    position: absolute;
    bottom: 30px;
    right: 24px;
    opacity: 0.7;
}


span.item-date6{
    position:absolute;
    top: 20px;
    right: 29px;
}

.item-img6{
    position: absolute;
    bottom: 82px;
    left: 10px;
}

img.item-img6{
    max-width: 100px;
    margin-left:20px;
}


.form {
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   gap: 20px;
}

.form > div {
   flex-basis: calc(100% - 255px - 20px);
}

.form button {
   flex-basis: 255px;
}

.mail{
    padding-top: 56px;
    margin: 0 auto;}

.menu22{
    background: #F3F3F3;
    height: 348px;
    width: 1560px;
    margin-top: -28px;
    margin-left: -506px;
}

.mail2{
    position: relative;
    top: 87px;
    right: -489px;
    width: 365px;
    height: 62px;
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat regular';
    color: var(--accent-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: #FFF;
}

.mail2:focus {
    border: 1px solid #FBF138;
    outline-color: #FBF138;
}


.mail2::placeholder {
    position:relative;
    top:0px;
    padding-left: -5px;
    padding-top:10px;
    margin-bottom:-10px;
    /**/
    color:var(--accent-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity:0.3;
    font-family: 'Montserrat regular'; 
}

.title{
    color: var(--accent-black);
    white-space: nowrap;
    text-align: center;
    font-family: 'Montserrat bold';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: 82px;
    right: -9px;
}

.btn22{
    display: block;
    position: relative;
    top: 21px;
    width: 225px;
    height: 66px;
    background-color: var(--yellow);
    right: -880px;
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.20);
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    padding-top: 4px;
    cursor: pointer;
    transition: var(--tr);
}

.btn22:hover{
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.elipse2{
    content:'';
    background-repeat: no-repeat;
    background-size: contain;
}

img.elipse2{
    position: relative;
    right: 70px;
    top: 163px;
    width: 101px;
}

.agreement{
    position: relative;
    top: 33px;
    right: -488px;
    color: rgba(43, 53, 65, 0.5);
    font-family: 'Montserrat regular';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    padding-left: 24px; /**/
    cursor: pointer;
    top: 1px;
}
.syilka{
    color:rgba(43, 53, 65, 0.5);
    font-family: 'Montserrat regular'; 
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
    transition: var(--tr);
}

.syilka:hover{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}


/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border: 2px solid #2B3541;
   opacity: 1;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 18px;
   height: 18px;
   transition: all .2s ease;
   opacity: 1;
   left: 1px;
   top: calc(50% - 9.5px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(files/icons/check_box.svg);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 15px;
   height: 15px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(files/icons/check_box.svg);
}
.radio:checked + label::before{
   border-radius: 100%;
}


.contain{
   position: relative;
   max-width: 1142px;
   margin: 0 auto;
   right:100px;
   top:10px;
}

.company{
color: var(--accent-black);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    font-family: 'Montserrat bold';
    padding-top: 114px;
    margin-left: -190px;
    top: -17px;
    position: relative;
}

.special-text{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    right: 190px;
    top: -30px;
}

.contain{
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    top: 182px;
}

.block{
    position: relative;
    bottom: 154px;
    left: -44px;
}



.right {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 445px;
    left: 325px;
    width: clamp(399px, 65vw, 581px);
    /* grid-gap: clamp(1rem, 2vw, 24px); */
}



img.right{
    /* max-width: 581px; */
    height: auto;

}
.btn33{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -15px;
    width: 225px;
    height: 61px;
    background-color: var(--yellow);
    right: 190px;
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.20);
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    padding-top: 4px;
    cursor: pointer;
    transition: var(--tr);
    text-decoration: none;
}

.btn33:hover{
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.setka22{
    display: flex;
    justify-content: space-between;
    width: max(80%, 1200px);
    /* position: absolute; */

}

.column2{
    position: relative;
    display: flex;
    grid-template-columns: repeat(4, 308px);
    /* justify-items: center; */
    right: 375px;
    top: -210px;
    /* height: max(70%, 503px); */
    /* grid-gap: clamp(2rem, 1vw, 17px); */
    /* transform: scale(0.9); */
    /* grid-template-columns: repeat(4, minmax(283px, 2fr)); */
    justify-content: space-between;
    /* flex-grow: inherit; */
    gap: 93px;
}

.it{
    display: flex;
    justify-content: space-between;
    justify-self: start;
    align-items: flex-start;
    flex-direction: column;
    /* height: max(50%, 2px);*/
}

.it2{
    display: flex;
    /* justify-content: space-between; */
    justify-self: start;
    /* align-items: flex-start; */
    flex-direction: column;
}

.it3{
     display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    justify-self: start;
    flex-direction: column;
}

.it4{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    justify-self: start;
    flex-direction: column;
    /* justify-content: space-between;*/
}

.txt1{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    position: relative;
}

.txt2{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    position: relative;
}

.txt222{
        color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    position: relative;
    top: -2px;
    right: -1px;
}

.txt333{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    position: relative;
}


.txt4{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    position: relative;
}


.txt11{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    position: relative;
    top: -2px;
    right: -1px;
}

.txt22{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    position: relative;
    right: -17px;
    top: -2px;
}

.txt33{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    position: relative;
    right: -17px;
    top: -2px;
}

.txt44{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    position: relative;
    right: -17px;
    top: -2px;
}

/********FOOTER***********/

.footer {
    margin-top: -195px;
}

.container2{
    max-width: 1142px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 27px;
}

.header-wrapper2{
    display: flex;
    align-items: center;
    gap: 35px;             
}


.background-grey{
    display:block;
    position: relative;
    height: 149px;
    background: #F3F3F3;
    background-size: contain;
    top: 151px;
}

.logo2{
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(files/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
    right:-30px;
    top:-2px;
}

.nav2 {
    flex-grow: 1;
    display: flex;
    gap: 159px;
    margin-left: min(10vw, 140px);  
}

.cart2{
    display: flex;
    align-items: center;
    text-decoration:none;
    position: relative;
    font-family: 'Montserrat bold';
    color:var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-right:-32px;
    right:2px;
}

.elipse22{  
    content: '';
    display: inline-block;
    align-items: center;
    background-image: url(files/icons/ellipse.svg);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 13px;
    left: 71px;
    flex-shrink: 0;
}

.nav-link2{
    text-decoration:none;
    margin-left: -69px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Montserrat regular';
    color:var(--accent-black);
}


.nav-link2:hover {
  	text-decoration: underline;
    color:var(--accent-black);
    height: 1px;
    text-underline-offset: 15px;
}

.agreement22{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: min(10vw, 32px);
    margin-top: 7px;
}

.prove{
    white-space: nowrap;
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.3;
}

.label22{
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    white-space: nowrap;
    margin-top:-5px;
    color:var(--special-low-black);
    position: relative;
    right: -30px;
}


.syilka22{
    color:var(--special-low-black);
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
    transition: var(--tr);
    
}

.syilka22:hover{
    color:var(--special-strong-black);
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    opacity:1;
}

/* MEDIA */

@media(max-width:1550px){
    .hero-wrapper{
        position: absolute;
        right: -26px;
        bottom: 0;
        width: clamp(399px, 71vw, 996px);
        top: 2px;
    }

}

@media(max-width:1420px){


    .hero-text h1{
        font-size: clamp(26px, 4.5vw, 40px);
    }

    .text2{
        top: 319px;
    }

    .text3{
        top:425px;
    }

    .hero-button{
        margin-top: 348px;
    } 

    .background-yellow{
        height: 713px;
    }

    .hero-wrapper {
        position: absolute;
        right: -16px;
        width: clamp(399px, 71vw, 834px);
        top: 2px;
    }


}


@media(max-width:1230px){
    .hero-wrapper {
        position: absolute;
        right: -16px;
        width: clamp(399px, 71vw, 645px);
        top: 2px;
    }

    .background-yellow{
        height: 550px;
        flex-basis: calc(65% - 20px);
    }

    .hero-text h1{
        font-size: clamp(26px, 4.5vw, 30px);
        font-size: 26px;
        top: 140px;
    }

    .text2{
        margin-top: -65px;
        font-size: 26px;
    }

    .text3{
        left: 224px;
        font-size: 16px;
        margin-top: -125px
    }

    .hero-button{
        margin-top: 290px;
        margin-left: 226px;
    }

    .click{
        width: 39.245px;
        height: 40px;
    }

    .weight{
        object-fit: cover; max-width: 100%; max-height: 100%;
    }

    .heart{
        object-fit: cover; max-width: 100%; max-height: 100%;
        white-space: nowrap;
    }
    
    .menu{
    margin-right: -23px;
    }
    /*setka*/

    
    .setka{
        padding-right:10px;
    }

    .item-title{
        /*overflow-wrap: break-word;*/
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@media (max-width:1080px){
    .nav{
        margin-left:120px;
        gap:min(11vw, 100px);
    }

    .header-wrapper{
        gap: 9px;
    }

    .elipse{  
        left: 47px;
    }
    
}

@media(max-width:995px){
    .hero-text h1 {
        font-size: 26px;
        top: 140px;
        left: 50px;
    }
    .text2{
        left:49px;
    }

    .text3 {
        left: 52px;
        font-size: 16px;
        margin-top: -125px;
    }

    .hero-button{
        margin-top: 290px;
        margin-left: 50px;
    }

    .click {
        position: relative;
        top: -54px;
        left: 50px;
    }
}

@media (max-width:934px){
    .nav{
        margin-left: 120px;
        /* gap: min(9vw, 100px); */
        gap: max(77px);
    }

    .header-wrapper{
        /*
        gap: 21px;
        */
        gap: 0px;
    }

    .elipse{  
        left:38px;
    }

    .nav-link{
        margin-left: -71px;
    }

    .hero-wrapper {
        position: absolute;
        right: -16px;
        width: clamp(388px, 71vw, 411px);
        top: 202px;
    }

}