
@font-face{
   font-family:'Montserrat regular';
   src:local('Montserrat regular'),   
   url("files/fonts/Montserrat-Regular.ttf");
}

@font-face{
   font-family:'Montserrat bold';
   src:local('Montserrat bold'),
   url("files/fonts/Montserrat-Bold.ttf"); 
}


html,body{
    height:100%;
}


:root {
   --light-dark:#010101;
   --accent-black:#2B3541;
   --special-low-black:rgba(43, 53, 65, 0.3);
   --special-strong-black:rgba(43, 53, 65, 1);
   --yellow:#FBF138;
   --white:#FEFCFE;
   --new-gradient:linear-gradient(180deg, rgba(251,241,56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
   --new-gradient2:linear-gradient(180deg, rgba(251,241,56, .3) 0%, rgba(253, 249, 182, .3) 100%);
   --tr:.3s;
   --tr2:.4s;
} 

.logo{
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(files/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 18px;
}

.header{
    padding-top: 52px;
    padding-bottom: 5px;
    margin-bottom: -35px;
}

.container{
    max-width: 1142px;
    margin: 0 auto;
    /*
    padding-left: 74px;
    padding-right: 15px;
    */
}

.header-wrapper{
   display: flex;
    align-items: center;
    padding-top: 24px;
    margin-left: 31px;
    margin: 0 auto;
    max-width: 1141px; 
}

.fitness-menu{
    display:none;
    width:29px;
    height:22px;
    background-image: url(./files/icons/fitnessmenu.svg);
    background-size:contain;
    background-color: transparent;
    border:none;
    margin-bottom: 19px;
    position: relative;
    left: 35px;
}

.nav {
    display: flex;
    gap: 51px;
    margin-left: max(6vw, 38px);
}

.cart{
    align-items: flex-start;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: -19px;
}
/**********none************/
.modal-close{
    display:none;
}
.nav._modal{
    display:none;
}

/**********************/



.elipse{  
    content: '';
    display: flex;
    background-image: url(files/icons/ellipse.svg);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 3px;
    left: 37px;
    flex-shrink: 0;
    margin-left: auto;
}


.nav-link{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Montserrat regular';
    color: var(--accent-black);
    white-space: nowrap;
    margin-bottom: 16px;
}

.nav-link:hover {
  	text-decoration: underline;
    color:var(--accent-black);
    height: 1px;
    text-underline-offset: 15px;
}

.button-up{
    position: fixed;
    width: 77px;
    height: 24px;
    right: 25px;
    bottom: 10px;
    padding: 5px 10px;
    border: none;
    margin-left: 310px;
    margin-top: 317px;
    background: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.30);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    cursor: pointer;
    transition: var(--tr);
    text-decoration: none;
}

.button-up:hover {
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.button-up.hidden{
    opacity:0;
}

.button-up.visible{
    opacity:1;
}

.main-content{
    max-width: 1326px;
    margin: 0 auto;
}

.hero{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.hero-text {
   flex-basis: 62%;
   
}
.hero-text h1 {
   font-size: clamp(26px, 4.5vw ,48px);
}


.hero-bg{
    position: relative;
    height:100%;
    flex-basis:464px;
}

.hero-wrapper{
    position: absolute;
    right: -122px;
    bottom: 0px;
    width: clamp(399px, 65vw, 996px);
    top: 26px;
}

.background-yellow{
    display: block;
    height: 852px;
    flex-basis: calc(40% - 20px);
    opacity: 0.2;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 120%);
    position: relative;
    left: 262px;
    top: 26px;
}

.text{
    display: inline-block;
    position: absolute;
    color: var(--accent-black);
    top: 222px;
    left: 122px;
    font-family: 'Montserrat bold';
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.text2{
    display: inline-block;
    position: absolute;
    top: 375px;
    left: 123px;
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
}

.text3{
    display: inline-block;
    position: absolute;
    font-family: 'Montserrat regular';
    color: var(--accent-black);
    top: 488px;
    left: 214px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.hero-button{
    width: 196px;
    height: 24px;
    display: block;
    padding: 21px 30px;
    border: none;
    margin-left: 212px;
    margin-top: 365px;
    background: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.30);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    cursor: pointer;
    transition: var(--tr);
    text-decoration: none;
}

.hero-button:hover {
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.click{
    position: relative;
    top: -29px;
    left: 96px;
}


.container2{
    max-width: 1142px;
    margin: 0 auto;
    /*
    padding-left: 19px;
    padding-right: 15px;
    */
}

.menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 107px;
    /* margin-left: 30px; */
    /* margin-right: -31px;*/
}


.menu-title{
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin-top: 18px;
}

.menu-title2{
    align-self: flex-start;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    white-space: nowrap;
        margin-left:10px;
}

.setka{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 73px 281px;
    grid-template-areas:
        "a b c"
        "d b f"
        "d e f";
    gap: 20px;
    /* padding-left: 30px; */
    margin: 0 auto;
}

.item{
    border: 1px solid rgba(43,53,65,0.5);
    box-sizing: border-box;
    position:relative;
    transition: .4s;
    display:flex;
    flex-direction: column;
    justify-content: end;
    gap:20px;
    padding:10px;
}

.item:hover {
   border-color:white;
}

.item:nth-child(1){
   grid-area:a;
   /*
   margin-right:-10px;
   margin-top:4px;
   margin-bottom:-4px;
   */
   cursor: pointer;
}

.item:nth-child(2){
   grid-area:b;
   /*
   margin-top:4px;
   margin-bottom:-4px;
   margin-left:10px;
   margin-right:-20px;
   */
   cursor: pointer;
}

.item:nth-child(3){
   grid-area:c;
   /*
   margin-top:5px;
   margin-bottom:-5px;
   margin-left:20px;
   margin-right:-29px;
   */
   cursor: pointer;
}

.item:nth-child(4){
   grid-area:d;
   /*
   margin-top:5px;
   margin-bottom:-5px;
   margin-right:-11px;
   */
   cursor: pointer;
}

.item:nth-child(5){
   grid-area:e;
   /*
   margin-top:5px;
   margin-bottom:-5px;
   margin-left:10px;
   margin-right:-20px;
   */
   cursor: pointer;
}

.item:nth-child(6){
   grid-area:f;
   /*
   margin-top:5px;
   margin-bottom:-5px;
   margin-left:20px;
   margin-right:-29px;
   */
   cursor: pointer;
}


.item::before {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   background:url(files/icons/gradient.png);
   object-fit: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: -1;
   opacity: 0;
   transition: .4s;
}

.item:hover::before {
   opacity: 0.7;
}

.item-title{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 17px;
    left: 10px;
}

.item-date{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: absolute;
    top: 10px;
    right:10px;
    opacity: 0.7;
}

span.item-date{
    position: absolute;
    top: 21px;
    right: 28px;
}

span.item-title{
    margin-left:20px;
}


.item-img{
    position: absolute;
    bottom: 81px;
    left: 11px;
}

img.item-img{
    max-width: 100px;
    margin-left:20px;
}

.item-title2{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    top: 360px;
    left: 31px;
}

.item-date2{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date2{
    position: absolute;
    top: 21px;
    right: 30px;
}

.item-img2{
    position: absolute;
    bottom: 81px;
    left: 11px;
}


img.item-img2{
    max-width: 100px;
    margin-left:20px;
}


.item-title3{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 19px;
    left: 37px;
}

.item-date3{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date3{
    position:absolute;
    top: 20px;
    right: 29px;
}

.item-img3{
    position: absolute;
    top: 175px;
    left: 10px;
}

img.item-img3{
    max-width: 100px;
    margin-left:20px;
}

.item-title4{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 19px;
    left: 31px;
}

.item-date4{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date4{
    position:absolute;
    top: 20px;
    right: 29px;
}

.item-img4{
    position: absolute;
    bottom: 82px;
    left: 10px;
}

img.item-img4{
    max-width: 100px;
    margin-left:20px;
}

.item-title5{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: relative;
    top: -9px;
    left: 20px;
}

.item-date5{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.7;
}

span.item-date5{
    position: absolute;
    top: 20px;
    right: 30px;
}

.item-img5{
    position: absolute;
    top: 136px;
    left: 10px;
}

img.item-img5{
    max-width: 100px;
    margin-left:20px;
}

.item-title6{
    color:var(--accent-black);
    font-family:'Montserrat bold';
    font-size:18px;
    font-style:normal;
    font-weight:700;
    line-height:125%;
    position: absolute;
    bottom: 19px;
    left: 30px;
}

.item-date6{
    color: var(--light-dark);
    white-space: nowrap;
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    position: absolute;
    bottom: 30px;
    right: 24px;
    opacity: 0.7;
}


span.item-date6{
    position:absolute;
    top: 20px;
    right: 29px;
}

.item-img6{
    position: absolute;
    bottom: 82px;
    left: 10px;
}

img.item-img6{
    max-width: 100px;
    margin-left:20px;
}

.main-subscribe{
    margin:0 auto;
    max-width: 1920px;
    height:348px;
    background: #f3f3f3;
}

.main-text{
    position: relative;
    display: flex;
    bottom: -214px;
    text-align: center;
    left: -17px;
    margin: 0 auto;
    max-width: 687px;
    justify-content: start;
}

.form {
    padding-left: 84px;
    display: flex;
    margin: 0 auto;
    gap: 23px;
    padding-top: 166px;
    justify-content: center;
    max-width: 1054px;
    padding-right: 49px;
}

.form > div {
    flex-basis: calc(80% - 225px - 269px);
}

.background-grey{
    margin: 0 auto;
    max-width: 1920px;
    height: 348px;
    background-color: #F3F3F3;
    margin-top: 55px;
}

.menu-menu{
    margin: 0 auto;
    max-width: 1142px;
}

.mail2{
    display: flex;
    width: 365px;
    height: 62px;
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat regular';
    color: var(--accent-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: #FFF;
}

.mail2:focus {
    border: 1px solid #FBF138;
    outline-color: #FBF138;
}


.mail2::placeholder {
    position:relative;
    top:0px;
    padding-left: -5px;
    padding-top:10px;
    margin-bottom:-10px;
    color:var(--accent-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity:0.3;
    font-family: 'Montserrat regular'; 
}

.title{
    display: block;
    color: var(--accent-black);
    white-space: nowrap;
    font-family: 'Montserrat bold';
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    position: relative;
}

.form .btn22 {
    flex-basis: 225px;
}

.btn22{
display: block;
    top: -58px;
    width: 225px;
    height: 66px;
    background-color: var(--yellow);
    right: -777px;
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.20);
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    padding-top: 4px;
    cursor: pointer;
    transition: var(--tr);
}

.btn22:hover{
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.elipse2{
    content:'';
    background-repeat: no-repeat;
    background-size: contain;
}

img.elipse2{
    position: relative;
    right: -41px;
    top: -3px;
    width: 101px;
}

.agreement{
    color: rgba(43, 53, 65, 0.5);
    font-family: 'Montserrat regular';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 13px;
}

.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
position: relative;
    padding-left: 24px;
    cursor: pointer;
}
.syilka{
    color:rgba(43, 53, 65, 0.5);
    font-family: 'Montserrat regular'; 
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
    transition: var(--tr);
}

.syilka:hover{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}


/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border: 2px solid #2B3541;
   opacity: 1;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 18px;
   height: 18px;
   transition: all .2s ease;
   opacity: 1;
   left: 1px;
   top: calc(50% - 9.5px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(files/icons/check_box.svg);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 15px;
   height: 15px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(files/icons/check_box.svg);
}
.radio:checked + label::before{
   border-radius: 100%;
}


.contain{
   position: relative;
   max-width: 1142px;
   margin: 0 auto;
   right:100px;
   top:10px;
}



.about{
    display: flex;
    justify-content: center;
    margin-top: 158px;
    gap: 70px;
    /* margin-left: 60px;*/
}

.about-content{
    display: flex;
    flex-flow: row nowrap;
    padding-left: 9px;
}

.about-about{
    margin-top: -36px;
}

.company{
    color: var(--accent-black);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    font-family: 'Montserrat bold';
}

.special-text{
    display: inline-block;
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 17px;
    margin-top: -14px;
}

.about-image{
    background-repeat: no-repeat;
    background-size: cover;
    width: clamp(399px, 65vw, 587px);
    /*margin-left: 25px;*/
    margin-top: -4px;
}



.about-image>img{
    width: 100%;
    height: 335px;
    object-fit: cover;
    object-position: bottom;
}

.btn33{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 61px;
    background-color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.20);
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    padding-top: 4px;
    cursor: pointer;
    transition: var(--tr);
    text-decoration: none;
}

.btn33:hover{
    background-color: var(--accent-black);
    color: var(--yellow);
    box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
}

.content-main2{
    max-width: 1142px;
    margin: 0 auto;
}

.advantages{
    display: flex;
    padding-top: 53px;
    justify-content: space-around;
    padding-bottom: 166px;
    max-width: 1142px;
    gap: 80px;
    margin: 0 auto;
    /* padding-left: 51px;*/
}

.advantages-item{

}

.advantages-text1{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.advantages-text2{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}


.advantages-text3{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}


.advantages-text4{
    color: var(--accent-black);
    font-family: 'Montserrat bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}


.advantages-span1{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}
.advantages-span2{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.advantages-span3{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.advantages-span4{
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

/********FOOTER***********/

.footer {
    height: 149px;
    background: #F3F3F3;
    margin-left: 1050px;
    max-width: 1920px;
    margin: 0px auto;
}

.container-footer{
    max-width: 1142px;
    margin: 0 auto;
    /* padding-left: 58px; */
    padding-top: 28px;
}

.header-wrapper2{
    display: flex;
    align-items: center;
}         



.logo2{
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(files/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav2 {
    display: flex;
    gap: 91px;
    padding-left: min(10vw, 76px);
    justify-content: space-around;
}

.cart2{
    display: flex;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat bold';
    color: var(--accent-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    align-items: center;
}

.elipse22{  
    content: '';
    background-image: url(files/icons/ellipse.svg);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 13px;
    left: 40px;
    flex-shrink: 0;
    margin-left: auto;
}

.nav-link2{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Montserrat regular';
    color: var(--accent-black);
    white-space: nowrap;
}


.nav-link2:hover {
  	text-decoration: underline;
    color:var(--accent-black);
    text-underline-offset: 15px;
}

.container-agreement{
    display: flex;
    max-width: 1142px;
    margin: 0 auto;
    justify-content: space-between;
    /* padding-left: 65px;*/
}

.agreement22{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 1142px;
    margin: 0 auto;
}

.prove{
    display: block;
    white-space: nowrap;
    color: var(--accent-black);
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.3;
    position: relative;
    top: 0px;
}

.label22{
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    white-space: nowrap;
    color: var(--special-low-black);
    position: relative;
    display: block;
}


.syilka22{
    color:var(--special-low-black);
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
    transition: var(--tr);
    
}

.syilka22:hover{
    color:var(--special-strong-black);
    font-family: 'Montserrat regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    opacity:1;
}



/* MEDIA */

@media(max-width:1550px){
    .hero-wrapper{
        position: absolute;
        right: -26px;
        bottom: 0;
        width: clamp(399px, 71vw, 996px);
        top: 2px;
    }

}

@media(max-width:1420px){


    .hero-text h1{
        font-size: clamp(26px, 4.5vw, 40px);
    }

    .text2{
        top: 319px;
    }

    .text3{
        top:425px;
    }

    .hero-button{
        margin-top: 348px;
    } 

    .background-yellow{
        height: 713px;
    }

    .hero-wrapper {
        position: absolute;
        right: -16px;
        width: clamp(399px, 71vw, 834px);
        top: 27px;
    }


}


@media(max-width:1230px){

    .hero-wrapper {
        position: absolute;
        right: -16px;
        width: clamp(399px, 71vw, 645px);
        top: 25px;
    }

    .background-yellow{
        /*
        height: 550px;
        flex-basis: calc(65% - 20px);
        */
        height: 551px;
        flex-basis: calc(171% - 20px);
        position: relative;
        left: 135px;
    }

    .hero-text h1{
        font-size: clamp(26px, 4.5vw, 30px);
        font-size: 26px;
        top: 140px;
    }

    .text2{
        margin-left: 103px;
        margin-top: -65px;
        font-size: 26px;
    }

    .text3{
        left: 224px;
        font-size: 16px;
        margin-top: -125px
    }

    .hero-button{
        margin-top: 290px;
        margin-left: 226px;
    }

    .click{
        width: 39.245px;
        height: 40px;
        left:0px;
    }

    .weight{
        object-fit: cover; max-width: 100%; max-height: 100%;
    }

    .heart{
        object-fit: cover; max-width: 100%; max-height: 100%;
        white-space: nowrap;
    }

    .item-title{
        /*overflow-wrap: break-word;*/
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /***********/
}



@media (max-width:1080px){
    .about-image>img{
    width: 100%;
    height: 358px;
    object-fit: cover;
    object-position: bottom;
   }
    
}



@media(max-width:995px){
    .hero-text h1 {
        font-size: 26px;
        top: 140px;
        left: 0px;
    }
    .text2{
        
        left:-105px;
    }

    .text3 {
        left: 0px;
        font-size: 16px;
        margin-top: -125px;
    }

    .hero-button{
        margin-top: 290px;
        margin-left: 0px;
    }

    .click {
        position: relative;
        top: -21px;
        left: -2px;
    }

}



/*********************************************
@media (max-width:934px){
    .nav{
        margin-left: 120px;
        gap: max(77px);
    }

    .header-wrapper{
        gap: 0px;
    }

    .elipse{  
        left:38px;
    }

    .nav-link{
        margin-left: -71px;
    }

    .hero-wrapper {
        position: absolute;
        right: -16px;
        width: clamp(388px, 71vw, 411px);
        top: 202px;
    }
}
**************************************************/

@media (max-width:910px){
    .hero-wrapper {
        position: absolute;
        right: -16px;
        width: clamp(399px, 71vw, 452px);
        top: 192px;
    }
}

@media (max-width:885px){
    .nav2 {
        display: flex;
        gap: 68px;
        padding-left: min(10vw, 50px);
        justify-content: space-around;
    }
}

@media (max-width:865px){
    .nav{
        gap: 9px;
        margin-left: max(3vw, 38px);
    }

}


@media (max-width: 820px) {
    .nav2 {
        display: flex;
        gap: 68px;
        padding-left: min(10vw, 4px);
        justify-content: space-around;
    }

    .special-text{
        display: inline-block;
       font-size: 18px;
       font-weight: 400;
       line-height: 22px;
       max-width: 820px;
       text-align: left;
    }

            .advantages{
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 6px;
        gap: 30px;
    }

    .advantages-item{
        margin-right:auto;
        margin-left:15px
    }

}


@media (max-width:769px){
    .nav{
        gap: 9px;
        margin-left: max(3vw, 38px);
    }

    .background-yellow {
        height: 497px;
        flex-basis: calc(250% - 20px);
        position: relative;
        left: 108px;
        width: 325px;
        top: 37px;
    }

    .hero-wrapper {
        position: absolute;
        right: -2px;
        width: clamp(399px, 71vw, 395px);
        top: 190px;
    }

   .hero-text h1 {
        font-size: 26px;
        top: 52px;
        left: 3px;
    }

    .text2 {
        margin-left: 111px;
        margin-top: -141px;
        font-size: 26px;
    }

    .text3 {
        left: 3px;
        font-size: 16px;
        margin-top: -197px;
    }

    .hero-button {
        margin-top: 201px;
        margin-left: 2px; 
    }

    .click {
        position: relative;
        top: -69px;
        left: 3px;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 38px;
        /* margin-left: 30px; */
        /* margin-right: -31px; */
        /*margin-top: -14px;*/
    }

    

}


@media (max-width:768px){

    .nav{
        display: none;
    }

    .nav._modal {
        display: inline-flex;
        flex-direction: column;
        gap: 26px;
        /* margin-right: 14px; */
        text-align: start;
        margin-left: -3px;
    }

    .nav-link::after{
        display: none;
    }

    .fitness-menu{
        display:block;
    }

    .modal{
        width: 100%;
        max-width: 587px;
        background-color: #F3F3F3;
        padding: 40px 15px;
        position: absolute;
        top: 0;
        box-sizing: border-box;
        text-align: start;
        transition: var(--tr2);
        padding-top: 73px;
        padding-bottom: 30px;
    }

    .modal-close{
        display: block;
        width: 20px;
        height: 19px;
        background-image: url(./files/icons/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 32px;
        right: 10px;
    }


    .nav-link{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    
    .nav-link:hover {
        display: block; /*превращаем его в блочный элемент*/
        content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
        height: 30px; /*задаём высоту линии*/
        width: 0%; /*задаём начальную ширину элемента (линии)*/
        transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимац*/
        width:10px
    }

    .background-grey2{
        background-color: rgba(43, 53, 65, 1);
        opacity: 0.4;
        width: 587px;
        height: 176px;
        position: relative;
        left: -15px;
        top: 30px;
    }

    .logo3{
        display: block;
        background-image: url(./files/logo/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        /* logo */
        width: 78px;
        height: 24px;
        position:relative;
        top: -46px;
        left: -5px;
    }


    .setka {
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(3, 224px);
       grid-template-areas: "a d" "b e" "c f";
   }

    .item-title{
        color: var(--dark, rgba(43, 53, 65, 1));
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        bottom: 14px;
        left: 5px;
    }

    .item-img{
        bottom: 70px;
        left: 4px;
    }

    .item-title2{
       font-size: 16px;
       font-weight: 700;
       line-height: 20px;
       top: 190px;
       left: 26px;
    }

    .item-img2{
        bottom: 67px;
        left: 11px;
    }

    .item-title3{
        bottom: 10px;
        left: 26px;
        font-size: 18px;
        font-weight: 700;
       line-height: 22px;
    }

    .item-img3{
        top: 111px;
        left: 5px;
    }

    .item-title4{
        bottom: 14px;
        left: 21px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .item-img4{
        bottom: 69px;
        left: 0px;
    }

    .item-title5 {
        top: -3px;
        left: 12px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .item-img5{
        position: absolute;
        top: 95px;
        left: 0px;
    }

    .item-title6 {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        bottom: 10px;
        left: 21px;
   }

    .item-img6 {
        position: absolute;
        bottom: 63px;
        left: 0px;
    }


    .item-date{
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
       top: 10px;
       right: 10px;
    }

    .item-date2{
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
    }

    .item-date3{
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
    }

    .item-date4{
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
    }

    .item-date5{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .item-date6{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    span.item-date {
       position: absolute;
       top: 27px;
       right: 16px;
    }

    span.item-date2 {
       position: absolute;
       top: 27px;
       right: 16px;
    }

    span.item-date3 {
       position: absolute;
       top: 27px;
       right: 20px;
    }

    span.item-date4 {
       position: absolute;
       top: 27px;
       right: 21px;
    }


    span.item-date5 {
       position: absolute;
       top: 27px;
       right: 25px;
    }

    span.item-date6 {
        position: absolute;
        top: 27px;
        right: 20px;
    }

    
    .background-grey {
        margin: 0 auto;
        max-width: 1920px;
        height: 348px;
        background-color: #F3F3F3;
        margin-top: -12px;
   }
   
     .main-text {
        bottom: -150px;
        left: -22px;
        margin: 0 auto;
        /* max-width: 768px; */
        justify-content: end;
    }

    .about {
       gap: 38px;
       margin-top: 91px;
    }  

    .advantages{
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 6px;
        gap: 32px;
        padding-bottom: 47px;
    }

    .advantages-item{
        margin-right:auto;
        margin-left:15px
    }

    .advantages-span1{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .advantages-span2{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .advantages-span3{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .advantages-span4{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;        
    }


    .footer {
        height: 70px;
        background: #F3F3F3;
        margin-left: 1050px;
        max-width: 1920px;
        margin: 0px auto;
        padding: 20px 15px 20px 15px;
    /* padding-bottom: 32px; */
    }


    .prove{
        display: none;
        display: block;
        background-image: url(./files/logo/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        /* logo */
        /* Group */
        width: 97px;
        height: 30px;
        opacity: 1;
    }

    .container-agreement {
       display: flex;
       max-width: 1142px;
       margin: 0 auto;
       justify-content: space-between;
    /* padding-left: 65px; */
    /* padding-top: 10px; */
    }

    .container-footer{
        display: none;
    }

    .agreement22 {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        width: 1142px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    /* gap: 333px; */
    }

     .label22{
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .syilka22{
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .syilka22:hover{
       font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }
}

/**********MOBILE**************/

@media (max-width:680px){

        .background-grey {
        margin: 0 auto;
        max-width: 1920px;
        height: 360px;
        background-color: #F3F3F3;
        /* margin-top: -12px; */
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: baseline;
    }

    
    .title{
        font-size: 26px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        /* left: -71px; */
        max-width: 780px;
    }

    .main-text {
        bottom: -150px;
        /* left: -22px; */
        margin: 0 auto;
        /* max-width: 768px; */
        justify-content: center;
        width: 201px;
    }

    img.elipse2 {
        /* Pattern */
       width: 31px;
       height: 31px;
        right: -19px;
       top: 14px;
    }

    .mail2 {
        max-width: 330px;
        display: flex;
    }

    .form {
        padding-left: 84px;
        display: grid;
        margin: 0 auto;
        /* gap: 23px; */
        /* padding-top: 166px; */
        justify-content: flex-start;
        /* max-width: 1054px; */
        /* padding-right: 49px; */
        align-items: center;
        /* max-width: 500px; */
        padding: 147px;
    }

    .btn22 {
        display: flex;
        /* top: -58px; */
        width: 330px;
        min-height: 66px;
        justify-content: center;
        align-items: center;
    }

    .company{
        white-space: nowrap;
    }

}

@media (max-width:595px){

    .form{
        display:grid;
    }

    .hero-wrapper{
        display:none;
    }

    .hero{
        gap:0px;
    }

}

@media (max-width:510px){
   
    .about-image>img {
       display:none;
    }

    .about-image{
        display:none
    }

    .special-text br{
        display: none;
    }

}


@media (max-width:480px){
    .menu-title{
        font-size: 26px;
        font-weight: 700;
        line-height: 100%;
        margin-top: 9px;
    }

    .menu-title2{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .label22 {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        white-space: normal;
        text-align: right;
    }
}


@media(max-width:425px){

    .item-img {
        bottom: 38px;
        left: -9px;
        width: 39px;
        height: 39px;
    }

    .item-img2{
        bottom: 38px;
        left: -9px;
       width: 23px;
       height: 45px;
    }

    .item-img3{
        top: 43px;
        /* bottom: 43px; */
        left: -9px;
        width: 46px;
        height: 25px;
    }

    .item-img4{
        bottom: 38px;
        left: -9px;
        width: 34px;
        height: 53px;
    }

    .item-img5{
        top: 36px;
        left: -9px;
        width: 39px;
        height: 37px;
    }

    .item-img6{
        bottom: 46px;
        left: -9px;
        width: 35px;
        height: 40px;
    }

    .item-title{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        top: 81px;
        left: -9px;
    }
    
    .item-title2{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        top: 85px;
        left: 10px;
    }

    .item-title3{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        top: 80px;
        left: 12px;
    }

    .item-title4{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        top: 86px;
        left: 10px;
    }

    .item-title5{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        top: 1px;
        left: 2px;
    }

    .item-title6{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        top: 75px;
        left: 11px;
    }


    .setka {
       grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 114px);
       grid-template-areas: "a" "d" "b" "e" "c" "f";
   }

        .item-date{
            font-size: 14px;
            font-weight: 400;
            margin-top: -11px;
        margin-right: -7px;
        }

        .item-date2{
            position:absolute;
            top: 11px;
        right: 16px;
        }

        .item-date2{
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            margin-top: -11px;
            margin-right: -7px;
        }

        .item-date3{
           font-size: 14px;
           font-weight: 400;
           line-height: 17px;
           margin-top: -15px;
           margin-right: -12px;
        }

        .item-date4{
           font-size: 14px;
           font-weight: 400;
           line-height: 17px;
           margin-top: -11px;
          margin-right: -13px;
        }

       .item-date5{
           font-size: 14px;
           font-weight: 400;
           line-height: 17px;
           margin-top: -11px;
           margin-right: -18px;
        }

       .item-date6{
           font-size: 14px;
           font-weight: 400;
           line-height: 17px;
           margin-top: -18px;
           margin-right: -12px;
        }
}

@media (max-width:390px){

    .menu {
        padding-top: 38px;
        margin-top: -89px;
    }

    .header{
        padding-bottom: 0;
    }

    .header-wrapper{
        padding-top:0;
    }


    .logo{
        width: 78px;
        height: 24px;
    }

    .cart{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
    }

    .hero-text h1{
        white-space: nowrap;
        font-size: 24.69px;
        font-weight: 700;
        line-height: 30px;
    }

    .hero-button{
        display: flex;
        min-width: 330px;
        height: 65px;
        display: flex;
        padding:0;
        align-items: center;
        justify-content: center;
    }

    .click{
        display: none;
    }

}


@media(max-width:360px){

    .main-text {
        bottom: -150px;
        /* left: -22px; */
        margin: auto;
        /* max-width: 768px; */
        justify-content: center;
        top: 112px;
        /* padding-right: 10px; */
    }

    .title{
        white-space: normal;
        top: 0px;
        PADDING-LEFT: 10PX;
    }

    img.elipse2 {
        height: 31px;
        width: 31px;
        right: -28px;
        top: 12px;
    }

    .company{
        font-size: 26px;
        font-weight: 700;
        line-height: 100%;
    }

    .special-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding-top: 15px;
    }

    .about-about {
       margin-top: 1px;
       margin-left: -6px;
    }

    .btn33{
        width: 330px;
        height: 65px;
    }

    .prove{
        /* Group */
       width: 78px;
       height: 24.12px;
    }

    .agreement22{
        gap:5px;
    }

    .advantages {
        gap: 22px;
        padding-bottom: 35px;
        margin-top: 23px;
        margin-left: -13px;
    }

    .advantages-text1{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .advantages-text2{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .advantages-text3{
       font-size: 16px;
       font-weight: 700;
       line-height: 20px;
    }

    .advantages-text4{
       font-size: 16px;
       font-weight: 700;
       line-height: 20px;
    }


    .footer{
        padding-bottom: 0px;
        margin-top: 34px;
    }

    .form>div{
        margin-top: -14px;
    }

}

